### Konzisztenica problémák elkerülése(masodik rész)

In [9]:
-- Piszkos adatok olvasasa 1

BEGIN TRANSACTION
UPDATE Alkalmazottak
SET Email = 'abc2'
WHERE AlkalmazottID = 'E10033'
WAITFOR DELAY '00:00:07' --várakozás
ROLLBACK

: Msg 1222, Level 16, State 51, Line 4
Lock request time out period exceeded.

In [10]:
-- T2
BEGIN TRANSACTION;
UPDATE Alkalmazottak
SET Email = 'abc2'
WHERE AlkalmazottID = 'E10033'
COMMIT

: Msg 1222, Level 16, State 51, Line 3
Lock request time out period exceeded.

In [16]:
-- BEGIN TRANSACTION;
INSERT INTO 
 Alkalmazottak(AlkalmazottID, Nev,  Email, AlkamazasKezdete, VegzettsegID, VarosID)
VALUES ('E10204', 'Kiss János', 'janos.kiss@gmail.com', GETDATE(), 1, 1);
-- ROLLBACK TRANSACTION;

In [15]:
ALTER DATABASE HR
SET ALLOW_SNAPSHOT_ISOLATION ON