## Alkérdések

Alkérdés (beágyazott lekérdezés) = olyan lekérdezés, mely egy
másik lekérdezés része.

- Szintaktikus alakja: beágyazott lekérdezés zárójelben.
- Használata: ahol relációnevet használunk:
    -  FROM záradékban – a tényleges relációk helyett alkérdéssel
létrehozott ideiglenes tábla gyanánt
    - WHERE záradékban: sorokra vonatkozó feltételek esetén
    - HAVING záradékban: csoportokra vonatkozó feltételek esetén

- Egyszerű alkérdés – olyan alkérdés, mely csak egyszer kerül
kiértékelésre.
- Korrelált alkérdés – olyan alkérdés, amely többször is
kiértékelődik.

Pelda korrelalt alkérdezésre:
A 2019-es AdventureWorksLT adatbázisban keressük meg azoknak a vásárlóknak adatait, akik olyan rendeléseket helyeztek el, amelyek teljes rendelési értéke meghaladja az átlagos rendelési értéket. Használjunk alkerdest az átlagos rendelési érték kiszámításához, majd hasonlítsuk össze az egyéni rendelési értékeket.
```sql
SELECT c.CustomerID, c.FirstName, c.LastName
FROM SalesLT.Customer c
WHERE EXISTS (
    SELECT 1
    FROM SalesLT.SalesOrderHeader soh
    WHERE soh.CustomerID = c.CustomerID
    GROUP BY soh.CustomerID
    HAVING AVG(soh.TotalDue) < (
        SELECT AVG(TotalDue)
        FROM SalesLT.SalesOrderHeader
    )
);
```

## Feladatok

1. Keressük meg a legjobban eladott terméke(ke)t a 2019-es AdventureWorksLT adatbázisban. Használjunk alkerdest azzal a céllal, hogy meghatározzuk a legtöbb eladott egységgel rendelkező terméket
```sql
SELECT p.Name, sum(sod.OrderQty) as TotalQuantity
FROM SalesLT.Product p 
JOIN SalesLT.SalesOrderDetail sod 
ON p.ProductID = sod.ProductID
GROUP BY p.Name
HAVING sum(sod.OrderQty) = 
    (SELECT MAX(TotalQuantity)
    FROM
        (SELECT sum(sodD.OrderQty) as TotalQuantity
        FROM SalesLT.SalesOrderDetail sodD
        GROUP BY sodD.ProductID) as T)
ORDER BY TotalQuantity DESC
```
2. Keressük meg azokat a termékeket, amelyeknek az árbevétele meghaladja a termékek átlagos árbevételét. Használjunk egy alkerdest az átlagos árbevétel kiszámításához, majd szűrjük a termékeket az alapján, hogy az árbevételük meghaladja ezt az átlagos értéket.
3. Keressük meg azokat a termékeket, amelyekhez nincs rendelés az adatbázisban. Használjunk egy alpontot, hogy először meghatározzuk azokat a termékeket, amelyekhez rendelés tartozik, majd kérjük le az olyan termékeket, amelyek nem szerepelnek ebben az alpontban.

Name,TotalQuantity
"Classic Vest, S",87

In [9]:
SELECT MAX(TotalQuantity) FROM
(SELECT sum(sodD.OrderQty) as TotalQuantity
FROM SalesLT.SalesOrderDetail sodD
GROUP BY sodD.ProductID) as T

(No column name)
87