### Feladat

Adott a HR informaciokat tartalmazo "staging" area.
Keszitsunk egy csillagsemat majd toltsuk fel a staging area-bol a csillag semaba a kovetkezo adatokat:
- Alkalmazottak(DIM_Employees: EmployeeID, Name, Email) 
- Poziciok(DIM_Jobs: JobID, Title)
- Reszlegek(DIM_Departments: DepartmentID, Name)
- Datumok(DIM_Dates: DateID, Date, Year, Month)
- Irodak (DIM_Offices: OfficeID, Name, Address)
- Alkalmazottak kifizetett fizetesei (FACT_Salary: EmployeeID, DepartmentID, JobID , DateID, Salary)

A staging area-ban a kovetkezo adatok vannak:    
```
create table proj_stg (Emp_ID varchar(8),
                       Emp_NM varchar(50),
					   Email  varchar(100),
					   hire_dt date,
					   job_title varchar(100),
					   salary int,
					   department_nm varchar(50),
					   manager varchar(50),
					   start_dt date,
					   end_dt date,
					   location varchar(50),
					   address varchar(100),
					   city varchar(50),
					   state varchar(2),
					   education_lvl varchar(50));
```

Valaszoljunk a kovetkezo kerdesekre:
- Mennyi a reszlegenkent atlagos fizetes, ebben a honapban?

In [3]:
SELECT department_nm as Department, COUNT( DISTINCT Emp_ID) AS 'Number of Employees' FROM  proj_stg 
GROUP BY department_nm

Department,Number of Employees
Distribution,27
HQ,13
IT,52
Product Development,70
Sales,41